<article class="post">
    <section class="whole-post">
        <section class="info-section">
            <section class="post-name">
                <a href="/post/{{id}}" class="links">{{title}}</a>
            </section>
            <section class="created-by">
                <p id="comment-subtitle">
                    Posted by <strong>{{user.usernane}}</strong> on <strong>{{formatDate created_at}}</strong>
                </p>
            </section>
            <section class="content-section">
                <p>{{content}}</p>
            </section>

        </section>

    </section>
</article>