<article class="post">
    <section class="post-container">
        <section class="title-container">
            <section class="post-title">
                <a href="/post/{{id}}" class="title-links">{{title}}</a>
            </section>
            <section class="created-by">
                <p id="comment-subtitle">
                    Posted by <span>{{user.username}}</span> on <span>{{formatDate created_at}}</span>
                </p>
            </section>
        </section>

            <section class="content-container">
                <p>{{content}}</p>
            </section>

    </section>
</article>